@page "/"
@using Nethereum.Web3
@using System.Net.Http.Json
@using Microsoft.AspNetCore.Components.Web
@using Marketplace.Wasm.Models
@inject Services.NFTService NFTService

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        @if (NFTs != null && NFTs.Count > 0)
        {
            @foreach (var nft in NFTs)
            {
                <div class="col">
                    <div class="card h-100 shadow rounded">
                        <div class="square-image">
                            <img src="@ConvertIpfsToHttp(nft.Image)" class="card-img-top" alt="@nft.Name" />
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">@nft.Name</h5>
                            <p class="card-text text-truncate">@nft.Description</p>
                        </div>
                        <div class="card-footer bg-dark">
                            <h5 class="text-white">@nft.Price ETH</h5>
                            <button class="btn btn-primary w-100" @onclick="() => BuyNFT(nft)">Buy</button>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col">
                <h1>No items in marketplace</h1>
            </div>
        }
    </div>
</div>

@code {
    private List<NFT> NFTs { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        NFTs = await NFTService.LoadNFTsForSale();
    }

    private async Task BuyNFT(NFT nft)
    {
        // Add your logic to buy NFT
    }

    private string ConvertIpfsToHttp(string ipfsUrl)
    {
        return ipfsUrl.Replace("ipfs://", "https://we3ge.infura-ipfs.io/ipfs/");
    }
}
